node_modules
.pnpm-store

# env files
.env
.env.local
.env*.local

# next
.next
out
build
next-env.d.ts

# testing
coverage

# misc
.DS_Store
*.pem
.vscode
.idea

# firebase
.firebase
firebase-debug.log
